<%- include("partials/header") %>

<%- include("partials/newDirDialog") %>
<div class="directory-container">
  <% if (locals.directory) { %>
  <% if (locals.directory.parentDirectoryId) {%>
  <a href="/directory/<%= locals.directory.parentDirectoryId %>">Up</a>
  <% } %>
  <button id="newDirBtn">New Folder</button>
  <a href="/upload/<%= directory.id %>">Upload file</a>
  <p>:// <%= locals.directory.name %></p>
  <p>Owner: <%= locals.currentUser.username %></p>
  <% locals.directory.subDirectories.forEach(dir => { %>
  <div>
    <a href="/directory/<%= dir.id %>"><%= dir.name %></a>
    <button id="changeDirNameBtn" data-dirid="<%= dir.id %>" data-dirname="<%= dir.name %>">Edit</button>
    <a href="/directory/<%= dir.id %>/delete">Delete</a>
  </div>
  <%})%>
  <% locals.directory.files.forEach(file => { %>
  <div class="file-container">
    <a href="/file/<%= file.id %>"><%= file.name %></a>
  </div>
  <%})%>
  <%}%>
</div>

<script type="module" src="/directory.js"></script>